# Build outputs
build/
dist/
node_modules/

# Compiled assets
*.min.js
**/*.chunk.js
**/static/**

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Config files
vite.config.js
vitest.config.js